@model List<Appointment>
@{
    var selected = ((DateTime)ViewBag.SelectedDate).ToString("yyyy-MM-dd");
}

<form method="get">
    <input type="date" name="date" value="@selected" onchange="this.form.submit()" />
</form>

<table border="1">
    <tr>
        <th>Token</th>
        <th>Name</th>
        <th>Status</th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>@a.TokenNumber</td>
            <td>@a.CustomerName</td>
            <td>@a.Status</td>
        </tr>
    }
</table>
